<section class="accueil" id="accueil">
    <h2>À la recherche d'un stage PFE</h2>
      <div class="about-left">
          <p>{{ description }}</p>
      </div>
      <div class="about-right">
          <p>Email: {{ email }}</p>
          <p>Téléphone: {{ phone }}</p>
          <p>Localisation: {{ location }}</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/el-mehdi-aderab-24a971221/" target="_blank">LinkedIn</a>
         <a href="https://github.com/ElMehdiAderab" target="_blank">Github</a>
      </div>
    </div>
  </section>